@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather:400,700');
/* @import url('https://fonts.googleapis.com/css?family=Merriweather:400,700'); */

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Merriweather', serif; */

body {
    font-family: 'Merriweather', serif;
    padding: 0px;
    margin: 0px;
    color: #666;
}

.viz-title{
    font-family: 'Lato', sans-serif;
    color: #333;
    font-weight: normal;
}
.explainer {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.box{
    padding: 14px;
    text-align: center;
}

.box:nth-child(odd){
    background-color: #efefef;
}

.box > *{
    margin-bottom: 8px;
}

.box-head{
    /* font-size: 2em; */
}

.candidate-name{
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
}

.secondary-numbers{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.secondary-numbers .number{
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
}

.number {
    background-color: white;    
}

.sans {
    font-family: 'Lato', sans-serif;    
}
.number .label{

    font-size: 12px;
}

.positive{
        color: forestgreen;
}
.negative {
    color: maroon;
}

.big.number {
    font-size: 2em;
    color: forestgreen;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid lightgray;
    border-radius: 1em;    
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.small.number{

}

.box:nth-child(even) .big-number{
    /* background-color: #efefef; */
}

.box.hidden{
    display: none;
}

#controls{
    display: flex;
    justify-content: center;

}

#controls, .explainer{
    margin-bottom: 8px;
    margin-top: 8px;
}

#search{
    width: 50%;
}

#search, #search_button{
    font-size: 1.2em;
}

#search_button{
    background-color: white;
    border: 1px solid gray;
}

#search_button:hover{
    background-color: #efefef;
}
