@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Merriweather', serif; */

body {
    font-family: 'Merriweather', serif;
    padding: 0px;
    margin: 0px;
    color: #666;
}

.box{
    padding: 14px;
    text-align: center;
}

.box:nth-child(odd){
    background-color: #efefef;
}

.box > *{
    margin-bottom: 8px;
}

.box-head{
    /* font-size: 2em; */
}

.candidate-name{
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
}

.amount {
    font-size: 2em;
    color: forestgreen;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: white;
    border: 1px solid gray;
}

.box:nth-child(even) .amount{
    /* background-color: #efefef; */
}

.box.hidden{
    display: none;
}

#controls{
    display: flex;
    justify-content: center;
}

#search{
    width: 50%;
}

#search, #search_button{
    font-size: 1.2em;
}

#search_button{
    background-color: white;
    border: 1px solid gray;
}
